/Admission_Predict_Ver1.1.csv
/campusx(dl).pdf
/Cat_Dog_Classification_Project_.ipynb
/Cat_Dog_Classification_Project_OWN.ipynb
/Churn_Modelling.csv
/Deep learning.one
/DL_Binary_Classification.ipynb
/DL_Multii_Classification.ipynb
/DL_Regression.ipynb
/dropout_classification_example.ipynb
/early_stopping.ipynb
/emotion_detection project.ipynb
/LSTM.excalidraw
/LSTM_DL.ipynb
/perceptrons.ipynb
/regularization.ipynb
/RNN.ipynb